<h3>Info</h3>
<ul>
  <li>
    <a href="#info-main-possibilities">Main possibilities</a>
    <ul>
      <li><a href="#info-summary-chart">Summary Chart</a></li>
      <li><a href="#info-flow-chart">Flow Chart</a></li>
      <li><a href="#info-stacked-chart">Stacked Chart</a></li>
    </ul>
  <li><a href="#info-configuration">Configuration</a></li>
  <li><a href="#info-FAQ">FAQ</a></li>
  <li><a href="#info-versions">Versions</a></li>
  <li><a href="#info-future-plans">Future plans</a></li>
  <li><a href="#info-permissions">Permissions</a></li>
  <li><a href="#info-contacts">Contacts</a></li>
</ul>

<div id="info-main-possibilities" class="p">
  <h4>Main possibilities</h4>
  With <b>TimeYourWeb</b> you will
  <ul>
    <li>see how much time you spend on each page of any domain</li>
    <li>distinguish "active" and "total" time duration spent on any page</li>
    <li>know when you starts and how long you are watching any page</li>
    <li>see how your Internet activity changes during any month</li>
  </ul>
  Using TimeYourWeb you will know how much time you spend on Facebook,
  how long your children watch cartoons and when you checked your email last time.<br>
  TimeYourWeb extension is without any ads completely.<br><br>
  With TimeYourWeb you can manage your time and enjoy your effective work.
</div>

<div id="info-summary-chart" class="p">
  <h4>Summary Chart</h4>

  You can get a summary for sites you have visited per a day / a week / a month.<br>
  TimeYourWeb tracks time only when your browser has a focus.<br><br>
  The extension distinguishes <b>"Total"</b> and <b>"Active"</b> time tracking approaches.
  Time is tracked as "Active" if you press keys or move the mouse more often than 1 time in 30 seconds.
  If a user is inactive more than 30 seconds but the browser is in focus,
  TimeYourWeb counts only "Total" time. "Total" time shows you how long you were watching
  video on YouTube or other video-sharing sites or just kept your browser opened.<br><br>

  TimeYourWeb allows you to order summary data by "Total" or by "Active" time or site names.<br>
  Click by any page opens visited page in new chrome tab.
</div>

<div id="info-flow-chart" class="p">
  <h4>Flow Chart</h4>
  With Flow Chart - you can investigate your Internet activity like under the microscope. It shows your online
  activity on timeline. You can switch between <b>"Total"</b> and <b>"Active"</b> time tracking approaches
  (see Summary Chart about tracking approaches).
  Here you can see when you visited a page and how long you were there.
  Pages from the same domain have the same color.
</div>

<div id="info-stacked-chart" class="p">
  <h4>Stacked Chart</h4>
  Stacked Chart gives bird's-eye view to your Internet activity. Here you can see how your habits change
  during a month. You see the longest and the shortest day on the Internet during a month.
</div>

<div id="info-configuration" class="p">
  <h4>Configuration</h4>
  Configuration page
  <a id="config" href="config.html" type="button" class="btn btn-default btn-sm square" title="Configuration">
    <i class="fa fa-cog" style="font-size: 14px"></i></a>
  allows you to:
  <ul>
    <li>stop/start time tracking</li>
    <li>set the day of week start. It could be Saturday, Sunday or Monday. Monday is default.</li>
    <li>define URLs that won't be tracked. TimeYourWeb checks each URL for correspondence to "Ignoring rules".
      If URL start and "Ignoring rule" are equal then URL will be ignored.<br>
      Ignoring Rules examples:<br>
      <ul>
        <li><i>"https://mail.google.com/mail/u/0/?tab=wm#spam"</i>
          - don't track time spent on spam checking in Gmail.
        </li>
        <li><i>"https://mail.google.com"</i> - do not track any activity in Gmail</li>
        <li><i>"chrome://newtab"</i> - don't track time spent on new Tab</li>
        <li><i>"file://"</i> - don't track time spent on any local file</li>
      </ul>
    </li>
<!--
    <li>delete tracks of particular day. Operation is irreversible!</li>
    <li>delete tracks of all days. Operation is irreversible!</li>
-->
  </ul>
</div>

<div id="info-FAQ" class="p">
  <h4>FAQ</h4>
  <b>Question:</b> Does it track the time when I watch a film online?<br>
  <b>Answer:</b> Yes, if browser is in focus. "Total" Time shows the period you was watching the film.<br><br>

  <b>Question:</b> Does TimeYourWeb have any access to viewed pages?<br>
  <b>Answer:</b> No, it doesn't. TimeYourWeb only tracks URLs visited by you, no more.<br><br>

  <b>Question:</b> Is TimeYourWeb free?<br>
  <b>Answer:</b> All current and most future features of TimeYourWeb are free and will be free forever.
  However, we are going to add some useful features which need servers. Server time costs money.
  So this features will be paid.<br>
</div>

<div id="info-versions" class="p">
  <h4>Versions</h4>
  <table>
    <tr> <td><i>1.0.1 -</i></td> <td>First public release</td></tr>
    <tr> <td><i>1.0.1 -</i></td> <td>Like Tab was added</td></tr>
    <tr> <td><i>1.0.2 -</i></td> <td>Total/Active buttons were added to Flow TabFirst public release</td></tr>
    <tr> <td><i>1.0.3 -</i></td> <td>Total/Active buttons were added to Stacked Tab</td></tr>
    <tr> <td><i>1.0.4 -</i></td> <td>"Number of Pages" and "Number of views" columns were added to Summary tab</td></tr>
    <tr> <td><i>1.0.5 -</i></td> <td>Configuration tab was added.
      <ul>
        <li>Start/Stop time tracking possibility was added</li>
        <li>Week start day can be selected</li>
      </ul>
    </td></tr>
  </table>
</div>

<div id="info-future-plans" class="p">
  <h4>Future plans</h4>
  We are going to expand TimeYourWeb with next capabilities:
  <ul>
    <li>user accounts with authentication</li>
    <li>synchronization between several computers</li>
    <li>possibility for deleting day data</li>
  </ul>
</div>

<div id="info-permissions" class="p">
  <h4>Permissions</h4>

  TimeYourWeb is the lowest permission required among another time trackers.
  TimeYourWeb requires "Read you browsing history": to allow the extension to read current tab's domain, icon and title.

</div>

<div id="info-contacts" class="p">
  <h4>Contacts</h4>
  <b>Email:</b> timeyourweb[ at ]gmail.com<br>
</div>
